html, body {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    overflow-x: auto;
    overflow-y: auto;
}
html, body {
    height: 500px;
    width: 1000px;
    white-space: nowrap;
    overflow-y: auto;
    overflow-x: auto;
}
table {
    position: fixed;
    top: 0;
    left: 0;
    /*height: 800px;
    width: 1600px;*/
    height: 100vh;
    width: 210vh;
    border-collapse: collapse;
    white-space: nowrap;
    overflow: auto;
}

td {
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
}

.header {
    background: #2c3e50;
    width: 100%;
    height: 10%;
}

.header h1 {
    text-align: center;
}

.Sidebar {
    background: #7f8c8d;
    width: 10%;
    height: 90%;
    overflow-y: auto;
    overflow-x: auto;
    vertical-align: top;
    
}

.content {
    vertical-align: top;
    padding-left: 60px;
    background: #ecf0f1;
    width: 90%;
    height: 90%;
    overflow-y: auto;
    overflow-x: auto;
}

.formLink {
    display: inline-grid;
    grid-template-columns: 205px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    align-content: center;
}

.formLink > * {
    background-color: #ecf0f1;
    border-radius: 25px;
    height: 25px;
}

.cell:hover {
    background-color: #0984e3;
}

.linkContent  {
    text-align: center;
    padding-top: 4px;
    color: #000000;
    text-decoration: none;
}

.linkContent:hover {
    color: #ecf0f1;
}